html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {

	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  ------ END OF RESET ------- */




.boxHelper
{
	color: #fff;
  background-color: black;
	margin-bottom: 20px;
	text-align: center;
}

@font-face {
    font-family: Lato-Light, Times, serif;
    src: url(../fonts/Lato-Hairline.ttf);
}


.body_store
{
	background-color: #74bcf9;
}

#store_container
{
	clear:both;
	font-family: 'Lato', sans-serif;
	height: 100vh;
	background-color: #74bcf9;
	color: white;

}

#store_container img
{
	text-align: center;
	display: block;
	margin: 0 auto;

}

.store_product
{
	font-weight: bold;
}

.store_genders
{
	font-weight: lighter;
	font-family: Lato-Light, Times, serif;
}


.bold
{
	font-weight: bold;
}

.store_info
{
	font-size: 0.7em;
}

.product
{
	position: absolute;
	margin-left: 100px;
	margin-top: 50px;
	height: 80%;
	display: none;
}

.store_button {
    background-color: #3fa0f3;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
		border-radius: 30px;
}

.store_checkout_info p
{
	float: left;

}

.qt
{
	padding-left: 40px;
}


.plus {
	cursor: pointer;
	margin-right: 20px;
	margin-left: 20px;
}

.minus{
	cursor: pointer;
}


.vertical-align
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}


.store_header
{
	position: fixed;
	z-index: 999;
	width: 100%;
}


#stories_body
{
	padding-top: 100px;
}

#stories_section
{
	font-family: Lato, Times, serif;

}

.text_landing_stories h2
{
	color: #003e72;
	font-weight: bold;
	font-size: 1.4em;
}

.text_landing_stories p
{
	color: #003e72;
	font-size: 1.2em;
}

.story_button {
	font-weight: bold;
    background-color: #003e72;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    margin: 4px 2px;
    cursor: pointer;
		border-radius: 20px;
}

.story_picture
{
	display: block;
	margin: 0 auto;
}

.story_text
{
	text-align: center;

}

.story_box
{
	margin-top: 50px;
}


.footer_section
{
	width: 100%;
	background-color: #3fa0f3;
	height: 100px;
	Margin-top: 40px;
}

.landing_stories
{
	height: 500px;
	background-image: url("../images/stories_background_mobile.png");
	background-repeat:no-repeat;
	background-position: center bottom;


}

.stories_fact_title h2
{
	text-align: center;
	font-weight: bold;
	color: white;
	margin-top: 20px;
	font-size: 2em;
}

.stories_fact_title p
{
	text-align: center;
	font-size: 0.8em;
}

.stories_fact
{
	width: 100%;
	background-color: #003e72;
	font-family: Lato;
	color: white;
	padding-bottom: 20px;
	padding-top: 20px;
}

.stories_fact_info
{
	text-align: center;
	margin-top: 20px;
}

.underline_title
{
	background-color: white;
	height: 1px;
	width: 30%;
	margin: 0 auto;
}

.underline_title_video
{
	background-color: #003e72;
	height: 2px;
	width: 30%;
	margin: 0 auto;
}

.video_story_container
{
	margin-top: 50px;
}

.bold_title
{
	font-weight: bold;
	font-size: 1.3em;
}

.message_box{
	margin-top: 40px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	font-family: Lato;
}

.message_box_cont{
	margin-top: 80px;

}

.name_message
{
	font-weight: bold;
}



.info_text_story{
	padding-left: 50px;
	padding-right: 50px;
}

.video_story
{
	width: 80%;
	display: block;
	margin: 0 auto;
}

.video_section_story h2
{
	text-align: center;
	font-weight: bold;
}

.hidden
{
	display: none;
}


.store_promo
{
	padding-top: 50px;
	height: 300px;
	background-image: url("../images/store_promo_background.png");
	background-repeat:no-repeat;
 background-size: cover;
 background-position: center center;
}

.store_promo_cont
{
margin-top: 100px;
}

.store_logo
{
	float: left;
	margin-top: 70px;
	margin-left: 50px;
}

.store_promo_text
{
	float: left;
	font-family: Lato;
	color: #003e72;
}

.hero_title
{
	font-weight: bold;
	font-size: 1.5em;
}

.join_title
{
	font-size: 1em;
}


.store_product_box
{
	border-radius: 5px;
	background-color: #f5f5f5;
	width: 80%;
	margin: 0 auto;
	padding-bottom: 20px;
	padding-top: 20px;
}

.store_product_box img
{
	display: block;
	margin: 0 auto;
}

.product_showcase
{
	margin-top: 40px;
}

.price_button{
	font-weight: bold;
		background-color: #003e72;
		border: none;
		color: white;
		padding: 5px;
		text-align: center;
		text-decoration: none;
		font-size: 0.8em;
		text-align: center;
		cursor: pointer;
		border-radius: 20px;
		width: 40%;
		margin: 0 auto;
}

.price_button:hover {

		background-color: #3fa0f3;

}

.product_title_name
{
	text-align: center;
	margin-top: 20px;
	color: #003e72;
	font-size: 1.2em;
	font-weight: bold;
}

.product_price
{
	text-align: center;
	color: #003e72;
	font-size: 1em;
	font-weight: bold;
}

@media only screen and (min-width: 640px) {
	.landing_stories
	{
		background-image: url("../images/stories_background.png");
	}

	.text_landing_stories h2
	{
		font-size: 2em;
	}

	.text_landing_stories p
	{
		font-size: 1.4em;
	}


}

@media only screen and (min-width: 980px) {

	.text_landing_stories h2
	{
		font-size: 2.2em;
	}

	.text_landing_stories p
	{
		font-size: 1.6em;
	}


}

@media only screen and (min-width: 1040px) {
    .small_product_img {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
	.product
	{

		display: block;
	}

	.store_info
	{
		font-size: 0.8em;
	}

	.story_picture
	{
		float: left;
		margin-right: 20px;

	}

	.story_text
	{
		text-align:left;
		margin-top: 70px;

	}


}
